version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile.dev
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: always

  backend:
    build:
      context: ./backend # Assuming backend code is in /backend root folder, need to create this.
      dockerfile: ../docker/backend/Dockerfile
    ports:
      - "8000:8000"
    restart: always
